<div class="register">
    <div class="home-div"></div>
    <a class="register-div" href="javascript:history.back();">x</a>
    <h2>Register</h2>
    <ul class="register-ul">
        <li><input type="text" placeholder="E-mail"/></li>
        <li><input type="text" placeholder="Username"/></li>
        <li><input type="text" placeholder="Password"/></li>
        <li><input type="text" placeholder="Confirm Password"/></li>
    </ul>
    <button class="register-but home-but" ui-sref="SignIn">REGISTER</button>
    <p class="Signin-p"  ui-sref="SignIn">By clicking register.l agree to Terme</p>
</div>

